@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #111215;
    margin: 0px;
}

* {
    font-family: "Poppins", sans-serif;
}


.container{
    max-width: 1920px;
    width: 100%;
}

.header-class{
    height: 97.9vh;
}

li {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 15px 7px;
    margin: 10px 15px;
}

.navbar-menu {
    display: flex;
    position: sticky;

}

.icon img {
    width: 50px;
}

.main-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstpage_head,.latest{
    color: white;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    padding: 7px 12px;
    border-radius: 10px;
}

h1 {
    color: white;
    font-size: 55px;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
}

.help {
    color: #a4a7b1;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    margin: 0;
}

.firstpage-button,.get {
    color: white;
    padding: 15px 35px;
    font-size: 13px;
    background: transparent;
    border: 1px solid transparent;
    transition: all 0.4s;
    border: 1px solid white;
    margin-top: 30px !important;
}

.firstpage-image img {
    width: 580px;
    height: 380px;
    transform: rotate(3deg);
    border-radius: 15px;
    position: absolute;
}

/* .linear-gardient {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    width: 600px;
    height: 400px;
    border-radius: 15px;
    position: absolute;
} */

.firstpage-image {
    position: relative;
    transform: rotate(-5deg);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    width: 600px;
    height: 400px;
    border-radius: 15px;
}

.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    width: 100%;
    padding: 100px 0px;
}
.bottom-line{
    position: absolute;
    height: 1px;
    width: 65%;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.Best{
    color: white;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 10px;
}
/* .digital{
    font-size: 48px;
    font-weight: 500;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.digital {
    font-size: 48px;
    font-weight: 500;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px !important; 
}
.secondpage{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* justify-content: center; */
    align-items: center;
    margin: 0px auto 80px;
}
.second,.last{
    padding: 120px 0px;
}
.firstcontainer-icon,.secondcontainer-icon,.thirdcontainer-icon,.fourthcontainer-icon{
    width: 40px;
    height: 40px;
}
h3{
    color: white;
    font-size: 18px;
}
.firstcontainer-para,.secondcontainer-para,.thirdcontainer-para,.fourthcontainer-para{
    font-size: 16px;
    color: #a4a7b1;
}
.first-container,.second-container,.third-container,.fourth-container{
    display: flex;
    width: 500px;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    margin-top: 30px;
    padding: 60px 40px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.firstrow,.secondrow{
    display: flex;
    justify-content: center;
    column-gap: 4vw;
}
.video-page {
    position: relative;
    background-image: url('https://www.nestle-cereals.com/uk/sites/g/files/qirczx836/files/2022-07/wheat-facts.jpg.jpg');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    height: 85vh;                
    width: 100vw;                 
  }
  .video img{
    height: 30px;
    margin-top: 358px;
    width: 30px;
    padding: 37px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
    /* top: calc(61% - 50px); */
    /* text-align: center;*/
  }
  h2{
    font-size: 30px;
    margin: 0px;
  }
  span{
    font-size: 20px;
    font-weight: 600;
  }
  .firsttext-para,.secondtext-para{
    font-size: 15;
    margin: 0px;
  }
  .firsttext-picture{
    color: white;
    background-color: #272727;
    display: inline-block;
    padding: 20px;
    margin: 0px 100px 0px 350px;
  }
  .secondtext-picture{
    color: black;
    background-color: white;
    display: inline-block;
    padding: 20px;
  }
  .text-picture{
    position: absolute;
    bottom: 0;
  }
  /* .list{
    display: flex; */
    /* justify-items: center; */
    /* align-items: center;
    justify-content: center;
  } */
.portfolio,.team-text{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* justify-content: center; */
    align-items: center;
    /* margin: 0px auto 80px; */
}
.portfolio-all,.slider-main,.latest-news,.next-project{
    padding: 120px 0px;
}
.list-div{
    display: flex;
    text-align: center;
    /* display: -webkit-inline-box; */
    /* display: inline-flex; */
    justify-content: center;
    padding: 50px 0px;
}
.first-photo img{
    width: 530px;
}
.firstrow-photos,.secondrow-photos{
    display: flex;
    /* max-width: 1920px; */
    justify-content: space-evenly;
}
.first-photo{
    color: white;
    text-align: center;
}

.first-photo img:hover{
    transform: scale(0.9);
    transition: 1s ease-in-out;
}
.firstslide-left img{
    width: 52.8px;
    border-radius: 50%;
}
/* .name{
    font-size: 15px;
    font-weight: 900;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
} */
/* .designation{
    color: white;
    font-size: 13px;
    margin: 0px;
} */
/* .talk{
    color: white;
    text-align: justify;
    font-size: 28px;
    font-weight: 500;
} */
/* .slides{
    display: flex;
    justify-content: center;
} */
/* .first-slide{
    display: flex;
    align-items: center;
    column-gap: 2vw;
    height: 260px;
    padding: 0px 20px;
    background: linear-gradient(126.47deg, #18191d 6.69%, rgba(2, 2, 30, 0) 85.43%);
    margin: 0px 60px 0px 0px;
    width: 670px;
} */

.team-text{
    padding: 50px 0px;
}

.team-photos img{
    width: 395px;
    background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.team-photos{
    display: flex;
    justify-content: space-evenly;
}

.Trending{
    color: white;
    font-size: 35px;
}

.latestnewsright1-image img{
    width: 237px;
}
.date{
    font-size: 10px;
    color: #AAAAAA;
}
.word{
    font-size: 10px;
    color: #12c2e9;
}

.right-para{
    font-size: 22px;
    color: white;
    font-weight: 500;
}
.latestnews-right1{
    display: flex;
    column-gap: 3vw;
    padding: 20px 0px;
}

.latest-news{
    display: flex;
    justify-content: space-evenly;
}
.lets{
    font-size: 10px;
    color: #12c2e9;
    letter-spacing: 4px;
}

.about-your{
    font-size: 76.8px;
    color: white;
    font-weight: 700;
    margin: 0px;
}
.next-pro{
    font-size: 76.8px;
    color: white;
    font-weight: 800;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    display: inline;
}

.next-project{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.next-project{
    background-image: url('patrn.svg');
    background-position: center;
}

.contact-img img{
    width: 30px;
    height: 30px;
}

.con{
    font-size: 25px;
}

.contact-head{
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin: 0px;
}

.contact-para{
    color: #a4a7b1;
    margin: 0px;
}

.cont{
    display: flex;
    align-items: center;
    column-gap: 1vw;
    padding: 15px 0px;
}

.recent1-image img{
    width: 98px;
}
.recent1{
    display: flex;
    column-gap: 1vw;
}

.recent-input{
    width: 80%;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: transparent;
    color: #fff;
    font-size: 13px;
}

.vie-images img{
    width: 10px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0px 2px;
}

.vie-text{
    color: #a4a7b1;
    font-size: 13px;
    letter-spacing: 2px;
}

.last{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.team-photos {
    position: relative;
}

.team-photos img {
    display: block;
    position: relative;
    z-index: 1; /* Ensure the image is above the background */
}

.team-photos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    z-index: 0; /* Ensure the background is behind the image */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.team-photos:hover::before {
    transform: rotate(3deg); /* Rotate the gradient background by 3 degrees on hover */
}

.photos{
    display: flex;
    justify-content: space-evenly;
}

.card-wrapper {
    /* max-width: 1100px; */
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
  }
  
  .card-list .card-item {
    list-style: none;
  }
  
  .card-list .card-item .card-link {
    display: block;
    background: linear-gradient(126.47deg, #18191d 6.69%, rgba(2, 2, 30, 0) 85.43%);
    padding: 18px;
    user-select: none;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
  }
  
  .card-list .card-item .card-link:active {
    cursor: grabbing;
  }
  
  .card-list .card-item .card-link:hover {
    border-color: #5372F0;
  }
  
  .card-list .card-link .card-image {
      /* width: 100%;  */
      border-radius: 50%;
      /* border-radius: 10px; */
      width: 52px;
      /* aspect-ratio: 16 / 9; */
      object-fit: cover;
  }
  
  .card-list .card-link .badge {
    color: #5372F0;
    width: fit-content;
    font-size: 0.95rem;
    font-weight: 500;
    background: #DDE4FF;
    margin: 16px 0 18px;
  }
  
  .card-list .card-link .badge-designer {
      font-size: 12px;
      font-weight: 900;
      background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 0px;
  }
  
  
  .card-list .card-link .card-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  
  .card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
  }
  
  .card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372F0;
  }
  
  .card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372F0;
  }
  
  .card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  
  .card-wrapper .swiper-slide-button {
    color: #5372F0;
    margin-top: -35px;
  }
  
  /* Responsive media query code for small screens */
  /* @media (max-width: 768px) {
    .card-wrapper {
      margin: 0 10px 25px;
    }
  
    .card-wrapper .swiper-slide-button {
      display: none;
    }
  } */
  
  
  .card{
    display: flex;
    align-items: center;
    column-gap: 3vw;
  }
  
  .designation{
      color: white;
      font-size: 10px;
      margin: 0px;
  }



